[submodule "third_party/elfuse"]
	path = third_party/elfuse
	url = git@github.com:open-sources-port/elfuse.git
	branch = main
[submodule "third_party/dxmt"]
	path = third_party/dxmt
	url = https://github.com/3Shain/dxmt.git
[submodule "third_party/wine"]
	path = third_party/wine
	url = https://gitlab.winehq.org/wine/wine.git
[submodule "third_party/busybox"]
	path = third_party/busybox
	url = https://github.com/mirror/busybox.git
[submodule "third_party/wawona"]
	path = third_party/wawona
	url = https://github.com/aspauldingcode/Wawona.git
